.container_0 {
  display: flex;
  flex-direction: row;
  height: 120px;
  width: 100%;
  background-color: white;
  border-bottom: solid rgba(0, 0, 0, 0.187) 0.1px;
}
/*=========================== */
/* container_1,container_3 <<< generalização  */
.container_1,
.container_3 {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: auto;
  width: auto;
}
/*=========================== */
/* container_2  */
.container_2 {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
}
.container_2 h1 {
  margin: auto;
}
.container_2 img {
  margin: auto;
  width: auto;
  height: 90%;
}
/*=========================== */
/* container_1  */
.container_1 div {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
}
.container_1 div h3 {
  cursor: pointer;
  user-select: none;
  margin: auto;
  margin-left: 100px;
}
.container_1 div h3:hover {
}
/*=========================== */
/* container_3  */
.container_3 div {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 70px;
  width: auto;
  margin: auto;
  background-color: black;
  padding: 0 40px;
  border-radius: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.container_3 div:hover {
  box-shadow: 0px 10px 15px 17px rgba(0, 0, 0, 0.1);
}
.container_3 div h3 {
  user-select: none;
  margin: auto;
  color: white;
}
.container_3 div div {
  margin: auto;
  padding: 0;
  padding-left: 5px;
  width: auto;
  height: 50%;
}
/*  */

/*=========================== */
/* responsividades  */
@media (max-width: 1550px) {
  .container_1 div h3 {
    margin-left: 70px;
  }
}
@media (max-width: 1300px) {
  .container_1 div h3 {
    margin-left: 60px;
  }
}
@media (max-width: 1200px) {
  .container_0 {
    display: none;
  }
}
